.header-text {
    font-family: 'Major Mono Display', monospace;
    color: #ffffff;
}

.centre-text {
    text-align: center;
}

.body-text {
    font-family: 'JetBrains Mono', monospace;
    font-size: 0.9em;
}

.background {
    background-color: white ;
}

.green-border {
    border: 0.2rem solid #009966;
    border-radius: 0.5em;
}

.header-box {
    background-color: #660033;
    border-radius: 1em;
}

