{% extends "base.html" %}

{% block content %}

    <div class="mx-5 my-3">
      <!-- Explanation/text portion -->
      <div class="green-glass-card p-3" id="explanation-card">
        <h4 class="white-text">Welcome!</h4>

        <div class="accordion" id="accordionExample">
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
              <button class="accordion-button" type="button" data-bs-toggle="collapse"
                      data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Why am I here?
              </button>
            </h2>

            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                 data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <strong>The TCP/IP Networking model is an important theoretical component to any network design.</strong> As a future network scientist,
                it is paramount that you understand its functions and vital protocols. Having said that... this stuff can be dry! That's where I come in
                - I'm <code>[byte name]</code> and I would like to give you a tour of my world! We will uncover together all the key features of
                the network and hopefully have a good time along the way :)
                <br>
                {% if current_user.is_anonymous %}
                  <span style="margin-left:20px">If you would like to save your progress or see how you've been going in my (FUN!) quizzes, make sure you log in!</span>
                  <br>
                  <button type="button" class=" btn btn-purple btn-md" onClick="location.href='{{ url_for('login') }}'">
                    Login
                    <i class="bi bi-door-open"></i>
                {% else %}
                  <span style="margin-left:20px">Hey, wait... I recognise you! How are you doing, {{ current_user.first_name }}? If you'd like to see how 
                    you've been doing in the course, just click the button below.</span>
                  <br>
                  <!-- This button needs to be replaced with the player's current progress -->
                  <button type="button" class=" btn btn-purple btn-md" onClick="location.href='{{ url_for('progress') }}'">
                    Progress
                    <i class="bi bi-check2-square"></i>
                {% endif %}
              </div>
            </div>
          </div>

          <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwo">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                      data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                So where do I start?
              </button>
            </h2>

            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                 data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <strong>If you would like to join me on my journey through the TCP/IP model, please click the 'Begin Journey' button below!</strong>
                There's plenty of exciting challenges and learning opportunities awaiting you on the other side!
              </div>
            </div>
          </div>

          <div class="accordion-item">
            <h2 class="accordion-header" id="headingThree">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                      data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                Wait - who the hell [not sure if this is an appropriate word - will discuss] are you!?
              </button>
            </h2>

            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                 data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <strong>Hey now, no need to yell!</strong> My name is <code>[byte name]</code> and I'm a data byte with a dream!
                Every day I travel to and from Work using my city's (very reliable) public transport network - the TCP/IP pipeline.
                While this system is great, I'm sure there are ways to make my commute even easier! That's where you come in.
                I would like to propose a partnership of sorts - <span style="font-style:italic;">I</span> will teach you everything
                there is to know about this little system, and <span style="font-style:italic;">YOU</span> will find out new and
                innovative ways to improve it! It's a win-win, I get a faster commute each day and you get some Nobel prize or something :)
                <br><br>
                What do you say? Can you spare a couple minutes to help out a byte in need?
              </div>
            </div>
          </div>
        </div>

        <div class=" d-flex justify-content-end mt-2">
          <button type="button" class=" btn btn-purple btn-lg" onClick="location.href='../contentPages/start-page.html'">
            Begin Journey
            <i class="bi bi-arrow-right"></i>
          </button>
        </div>
      </div>

{% endblock %}