{% extends "base.html" %}

{% block content %}

    <!-- login/register input box -->
    <div class="row vertical-center-row justify-content-center">
        <div class="white-text text-center p-3 col-4 col-offset-4 transparent-glass-card ">
            <!-- login form -->
            <div id="loginForm">
                <form action="" method="post" novalidate>
                    {{ lForm.hidden_tag() }}
                    <div class="mb-2">
                        {{ lForm.username.label }}<br>
                        {{ lForm.username(class_="col-8") }}<br>
                        {% for error in lForm.username.errors %}
                            <p class="validation-error ">{{ error }}</p>
                        {% endfor %}
                    </div>
                    <div class="mb-2">
                        {{ lForm.password.label }}<br>
                        {{ lForm.password(class_="col-8") }}<br>
                        {% for error in lForm.password.errors %}
                            <p class="validation-error">{{ error }}</p>
                        {% endfor %}
                    </div>
                    <p>{{ lForm.remember_me() }} {{lForm.remember_me.label }}</p>
                    <p>{{ lForm.submit() }}</p>
                </form>
            </div>
        </div>
    </div>
    <div class="row align-items-end justify-content-center">
        <!-- toggle resiter form -->
        <div id="registerButton" class="col-2 col-offset-4">
            <div class="white-text">Need an account?</div>
            <a class="btn btn-purple register-btn" href="{{ url_for('register') }}">Register</a>
        </div>
    </div>

{% endblock %}