{% extends "base.html" %}

{% block content %}
    <script src="{{ url_for('static', filename='javascript/quiz.js') }}"></script>


    <div class="mx-5">

        <div class="alert alert-danger" role="alert" id="quiz-previously-attempted-alert">
            <i class="bi bi-exclamation-diamond"></i>
            You've already done this quiz before! Please proceed to the next module.
        </div>

        <div class="alert alert-primary" role="alert" id="no-questions-alert">
            <i class="bi bi-exclamation-circle"></i>
            No questions have been set for this topic. Please contact your administrator.
        </div>


        <!-- Quiz portion -->
        <div class="orange-glass-card p-3" id="quiz-card">
            <h4 class="white-text">Quiz</h4>


            <!--Form-->
            <div class="card p-3" id="inner-quiz-card">


                <!--Qestions loading spinner-->
                <div class="spinner-border" role="status" id="questions-spinner">
                    <span class="visually-hidden">Loading questions...</span>
                </div>

                <form id="questions-form"></form>
                <div class=" d-flex justify-content-end mt-2">
                    <button type="submit" class=" btn btn-green btn-lg" id="quiz-submit-button"
                            onClick="evaluateSubmission()">
                        Submit
                        <i class="bi bi-arrow-right"></i>
                    </button>
                </div>
            </div>


        </div>

        <!-- Results portion -->
        <div class="green-glass-card p-3" id="results-card">
            <h4 class="white-text">Results</h4>

            <div class="card">
                <div class="card-body">

                    <div class="alert alert-success mb-0">
                        <!-- Percentage-->
                        <div>
                            <div class="spinner-border" role="status" id="results-percentage-spinner">
                                <span class="visually-hidden">Loading results...</span>
                            </div>

                            <p class="d-flex justify-content-center mb-0" id="results-percentage"></p>
                        </div>

                        <!-- Star -->
                        <div>
                            <div class="spinner-border" role="status" id="results-star-spinner">
                                <span class="visually-hidden">Loading stars...</span>
                            </div>

                            <div class="d-flex flex-row justify-content-center">
                                <div id="results-star-container"></div>
                                <p>/5</p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class=" d-flex justify-content-end mt-2">
                <button type="button" class=" btn btn-purple btn-lg" ,
                        onClick="location.href='{{ url_for('next_page') }}'">
                    {% if current_user.progress < 3 %}
                    To the next Layer!
                    {% else %}
                    See how you did!
                    {% endif %}
                    <i class="bi bi-arrow-right"></i>
                </button>
            </div>
        </div>
    </div>

{% endblock %}
